@model List<FileUpload.Models.tbl_registration>

@{
    Layout = null;
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Actual Cost Verivication</h2>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Search</a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("index", "paging", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
                        </div>
                        <button type="submit" value="Search" class="btn btn-success">Search</button>
                    }
                </div>
            </div>
        </nav>
        <div>
            <table class="table table-striped">
                <tr style="width:10px">
                    <th class="info">Email</th>
                    <th class="info">Name</th>
                    <th class="info">Address</th>
                    <th class="info">City</th>
                    <th class="info">Status</th>
                    <th class="info">
                        <input type="checkbox" class="select-all checkbox" name="select-all" />
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td class="item_requeststatus">
                            Pending
                        </td>
                        <td id="item_checkbox">
                            <input onclick="toggleclick(this,2)" class="select-item checkbox switch-toggle switch-flat-mini switch-toggle-flat" type="checkbox" name="select-item" value="1000" />
                        </td>
                    </tr>
                }
            </table>

            <div class="row">
                <div style="margin: 20px 0" class="col-sm-7">
                    <button id="select-all" class="btn button-default">SelectAll</button>
                    <button id="selected" class="btn btn-danger">Confirm</button>
                    <a class="btn btn-info" href="/Home/View">UPLOAD</a>
                </div>
                <div class="col-sm-5">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                </div>
            </div>

            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)

        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
            
            function toggleclick(_this, x) {
                //var table = document.getElementById("visitor_table");
                var row = $(_this).closest('tr');
                if ($(_this).is(':checked')) // check if checkbox is checked or not
                {
                    row.find("td:eq(4)").html("Verify"); //find 3rd cell and set HTML
                } else {
                    row.find("td:eq(4)").html("Pending");
                }
            }

            $(function () {

                //column checkbox select all or cancel
                $("input.select-all").click(function () {
                    var checked = this.checked;
                    $("input.select-item").each(function (index, item) {
                        item.checked = checked;
                    });
                });
            })
    </script>

</body>
</html>
